@charset "UTF-8";

*{margin: 0; padding: 0; list-style: none; color: #333333;}


a{
    text-decoration: none;}

img{
    width: 100%;
    vertical-align: top;

}

.wrap{
    width: 1920px;
    margin: 0 auto;

}

/* header영역 */
header{
    width: 1200px;
    height: 120px;
    background-color: white;
    margin: auto;
    display: flex;
}

.logo{
   width: 180px;
   height: 120px;
}
.logo img{
   margin-top: 35px;
   margin-left: 5px;
}

/* 메뉴영역 */
nav{
    width: 600px;
    height: 100%;
    margin: auto;
    left: -50px;
}

.main_menu{
    width: 150px;
    height: 80px;
    float: left;
    text-align: center;
    
   
}

.main_menu>a{
     font-size: 20px; 
     font-weight: bold;
     line-height: 120px;
}

.submenu_wrap{
    width: 100%;
    display: none;
}

.submenu_wrap>li{
    width: 120px;
    height: 30px;

}

.submenu_wrap>a{
    font-size: 20px; 
    line-height: 30px;
}


/* rightbox영역 */
.right_box{
    width: 200px;
    height: 100%;
    float: right;
    position: static;
    display: flex;
    
    
}

.ko{
    width: 100px;
    margin-top: 20px;
    font-size: 15px;
    text-align: center;
    line-height: 90px;
}

.icon_box{
    width: 45px;
    height: 45px;
    float: right;
    margin-top: 40px;
    margin-right:15px;
}




/* article영역 */
article{
    height: 400px;
    background-color: lightpink;
    position: relative;

}

.slide li{
    height: 380px;
    position: absolute;
}

.slide h1{
    color: white;
    font-weight: bold;
    position: absolute;
    top: 200px;
    left: 200px;
}

.slide img{
    width: 100%;
    /* height: 100%; */
}

.txt_box{
    width: 200px;
    height: 30px;
    background-color: orange;
    color: white;
    position: absolute;
    top: 280px;
    left: 200px;
    border-radius: 25px;
    font-weight: bold;
    text-align: center;
    line-height: 30px;
}



/* section영역 */
section{
    width: 100%;
    height: 500px;
    top: 100px;
    position: relative;
    z-index: 999999;

}

.main{
    width:calc(100% - 600px);
    margin: auto;
    background-color: white;
    border-radius: 8px 8px 0 0 ;
    box-sizing: border-box;

}

.spotlight {
    
    margin: -30px auto;
}

.spotlight::before{
    content: "";
    height: 50px;
    top: -20px;
    background-color: lightgray;
    border-radius: 8px 8px 0 0 ;
    display: block;
}

.main_tit{
    width: 100%;
    height: 40px;
    background-color: white;
    line-height: 60px;
}

.spotlight ul{
    width: 100%;
    background-color: aquamarine;
    margin-left: 20px;
    margin-top: 20px;
}

.spotlight li{
    width: 320px;
    height:350px;
    float: left;
    position: relative;

}

.spotlight li img{
    height: 100%;
}

.main_txt{
    width: 320px;
    height: 100px;
    color: white;
    margin-top: -100px;
    position: absolute;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    line-height: 100px;

}


.sub_tit{
    display: none;
}


.news{
    width:100%;
    height: 400px;
    margin:450px auto;
    top: 30px;
    background-color: white;
    
}

.news_con{
    height: 350px;
    margin-top: 30px;
    display: flex;
    
}

.main_bg{
    width: calc(100% - 350px);
    height: 350px;
    border-right: 1px solid rgb(90, 90, 90) ;
    box-sizing: border-box;
    
}

.main_bg a{
    display: flex;
}

.main_bg img{
    width: 550px;
    height: 100%;
}

.txt_cnt{
    width: 400px;
    height: 200px;
    padding: 40px 15px 15px 15px;
    box-sizing: border-box;

}




.txt_con{
     width: 250px;
     margin-left: 30px;
     margin-top: 20px;

}


.txt_con>div{
    width: 100%;
    height: 170px;
    position: relative;
    
}



.img_tit{
    width: 250px;
    height: 144.7px;
    background-color: #33333388;
    /* display: none; */
    font-size: 15px;
    text-align: center;
    line-height: 20px;
    /* margin-left: 30px; */
    margin-top: -145px;
    font-weight:800;
    position: absolute;
    z-index: 99999;
    
}

.img_tit span{
    color: white;
    display: block;
    margin-top: 50px;
    
}


.last_box{
    margin-top: 10px;
}





/* footer영역 */
footer{
    height: 80px;
    background-color: black;
}


