@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    color: #333333;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
    vertical-align: top;
}

.wrap {
    width: 100%;
    margin: 0 auto;
}

/* header영역 */
header {
    width: 100%;
    /* height: 150px;  */
    /*background-color: lightblue;*/
    margin: 0 auto;
    position: fixed;
    z-index: 999999;
}


.container {
    width: 1440px;
    margin: 0 auto;
}

.header_inner {
    height: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}

.header_inner a {
    color: white;
    /* font-size: 16px; */
    font-weight: 500;
}

.toggle_layer {
    width: 150px;
    margin-left: 30px;
    line-height: 100px;
}

.toggle_layer::after {
    content: "";
    background-image: url(https://www.sulwhasoo.com/kr/ko/resource/img/mainnew/newsulwhasoo_hd_white_arr_b_220902.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 15px;
    height: 100%;
    top: 45px;
    margin-left: 5px;
    position: absolute;

}

.logo {
    background-image: url(https://www.sulwhasoo.com/kr/ko/resource/img/mainnew/sulwhasoo_white_logo_220902.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    width: 200px;
    height: 55px;
    margin-top: 25px;
    text-indent: -9999999em;
}

.commer_link {
    width: 200px;
    margin-right: 30px;
    display: flex;
    line-height: 100px;

}

.commer_link span {
    display: block;
    width: 80px;
}

header:hover {
    background-color: white;

}

header:hover a {
    color: black;
}

header:hover .logo {
    background-image: url(https://www.sulwhasoo.com/kr/ko/resource/img/mainnew/sulwhasoo_orange_logo_220902.png);
}


.menu_wrap {
    width: 600px;
    height: 40px;
    margin-left: 420px;
    display: flex;
    justify-content: space-between;
}

.main_menu {
    width: 150px;
    text-align: center;
    line-height: 40px;
}

.main_menu>a {
    font-weight: 500;
    color: white;
    display: block;
}

.submenu_wrap {
    width: 600px;
    height: 50px;
    background-color: #fff;
    display: none;
}

.submenu_wrap li{
    width: 150px;
    text-align: center;
    line-height: 50px;
    float: left;
}

.submenu_wrap li a{
    display: block;
    top: 0;
    left: 0;
}


/* main영역 */
main {
    width: 100%;
    overflow: hidden;
    top: 0;
}

.slide_wrap {
    width: 100%;
    height: 80vh;
    /* position: relative; */
}

.slide_wrap ul {
    width: 100%;
    height: 100%;
    position: absolute;

}

.slide_img {
    width: 100%;
    /* height: 100%; */
    top: 0;
    display: block;
    position: absolute;
}

.slide_img img {
    display: block;
    object-fit: cover;
}

.slidetxt_wrap {
    width: 1000px;
    height: 200px;
    padding: 50px;
    box-sizing: border-box;
    position: relative;
    transform: translate(-50%, -20%);
    top: 90%;
    left: 30%;
    line-height: 65px;
}

.slide_txt {
    font-size: 20px;
    color: white;
}

.slide_tit {
    font-size: 35px;
    font-weight: bold;
    color: white;
}


/* section영역 */

section {
    width: 100%;
    overflow: hidden;
    margin-top: 10px;
}

.product_wrap {
    width: 1440px;
    overflow: hidden;
    margin: 0 auto;
}

.sec_tit {
    display: block;
    padding-left: 50px;
    height: 100px;
    font-size: 30px;
    line-height: 100px;
}

.product {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.product_img {
    width: 350px;
    height: 400px;
    margin-bottom: 50px;
}

.product_img img {
    height: 100%;
    object-fit: cover;
}

.product_img img:hover {
    opacity: 70%;
    transition: 0.3s;
}

.text_wrap {
    text-align: center;
    font-weight: bold;

}

.text_wrap p {
    margin-top: 5px;
}

.text_wrap p:nth-child(2) {
    font-weight: 400;
    font-size: 12px;
    margin-bottom: 20px;
}

.best_seller {
    width: 1440px;
    margin: 20px auto;
    position: relative;

}

.seller_img {
    padding: 10px 85px;
}

.seller_img img {
    display: block;
    object-fit: cover;
}

.tit_wrap {
    /* background-color: antiquewhite; */
    width: 300px;
    height: 200px;
    text-align: left;
    font-weight: 600;
    font-size: 20px;
    padding: 10px;
    position: absolute;
    transform: translate(-50%, -50%);
    top: 70%;
    left: 25%;
}

.tit_wrap>p {
    margin-top: 15px;
    margin-bottom: 40px;
    font-size: 14px;
}

.add_box {
    width: 120px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    text-align: center;
    border: 1px solid black;
    box-sizing: border-box;
}

.season {
    width: 1440px;
    overflow: hidden;
    margin: 0 auto;
}

.season .product li {
    background-color: #ededed;
}

.season .product .product_img {
    width: 300px;
    margin-bottom: 10px;

}

.season .product li .text_wrap {
    margin-bottom: 20px;
}

.season .product li:nth-child(2) .product_img {
    width: 750px;
    height: 100%;
}

.season .product li:nth-child(2) {
    position: relative;
}

.season .product li:nth-child(2) .text_wrap {
    position: absolute;
    top: 80%;
    left: 10%;
    z-index: 9999;
    text-align: left;

}

.season .product li:nth-child(2) .text_wrap p {
    font-size: 16px;
}

/* //season */

.offline_store {
    width: 1440px;
    height: 600px;
    margin: 20px auto;
}

.offline_store .product .product_img {
    width: 650px;
    margin-bottom: 10px;
}

.offline_store .product li .text_wrap .add_box {
    margin: 10px auto;
}

.offline_store .product li .text_wrap .add_box p {
    margin-top: 0;
}

/* //offline_store */


.footer_link_wrap{
    overflow: hidden;
}
.footer_link {
    width: 1440px;
    margin: 0 auto;
    display: flex;
    justify-content: start;
}

.footer_link ul {
    width: 1100px;
    display: flex;
    justify-content: start;

    /* overflow: hidden; */
}

.footer_link ul li {
    width: 180px;
    height: 50px;
    /* display: block; */
    font-size: 18px;
    text-align: center;
    line-height: 50px;
    margin-right: 5px;
    padding: 5px;
    white-space:nowrap; /* -> 텍스트 넘칠때 */
}

.footer_link>ul li::after{
    content: '|';
    margin-left: 25px;

}


.link_icon {
    /* float: right; */
    width: 150px;
    display: flex;
    justify-content: space-between;
}

.link_icon ul li {
    width: 50px;
    height: 50px;
}

.footer_item_wrap {
    width: 1440px;
    height: 100px;
    margin: 0 auto;
}

.footer_item_wrap span{
    display: block;
    font-size: 18px;
    margin: 5px 3px ;
}